# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# VS Code
.vscode/

# Flutter / Dart / Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
coverage/

# Symbolication
app.*.symbols

# Obfuscation
app.*.map.json

# Android Studio build outputs
/android/app/debug/
/android/app/profile/
/android/app/release/

# macOS build
/macos/Flutter/ephemeral/
/macos/Flutter/GeneratedPluginRegistrant.swift

# Xcode
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework/
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
